<div id="t754__product-" class="t754__product-full js-product" style="display:none;"
     data-product-lid="">
    <div class="t754__container ">
        <div class="t754__col_left t-col t-col_6 t754__default-gallery">
            <div class="t-slds" style="visibility: hidden;">
                <div class="t-slds__main">
                    <div class="t-slds__container">
                        <div class="t-slds__items-wrapper t-slds_animated-none t-slds__nocycle"
                             data-slider-transition="300" data-slider-with-cycle="false"
                             data-slider-correct-height="true" data-auto-correct-mobile-width="false">
                        </div>
                        <div class="t-slds__arrow_container t-slds__nocycle">
                            <li class="t-slds__arrow_wrapper t-slds__arrow_wrapper-left" data-slide-direction="left">
                                <button
                                        type="button"
                                        class="t-slds__arrow t-slds__arrow-left t-slds__arrow-withbg"
                                        aria-controls="carousel_"
                                        aria-disabled="false"
                                        aria-label="Previous"
                                        style="width: 30px; height: 30px;background-color: rgba(255,255,255,1);">
                                    <div class="t-slds__arrow_body t-slds__arrow_body-left" style="width: 7px;">
                                        <svg role="presentation" focusable="false" style="display: block"
                                             viewBox="0 0 7.3 13" xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <polyline
                                                    fill="none"
                                                    stroke="#000000"
                                                    stroke-linejoin="butt"
                                                    stroke-linecap="butt"
                                                    stroke-width="1"
                                                    points="0.5,0.5 6.5,6.5 0.5,12.5"
                                            />
                                        </svg>
                                    </div>
                                </button>
                            </li>
                            <li class="t-slds__arrow_wrapper t-slds__arrow_wrapper-right" data-slide-direction="right">
                                <button
                                        type="button"
                                        class="t-slds__arrow t-slds__arrow-right t-slds__arrow-withbg"
                                        aria-controls="carousel_"
                                        aria-disabled="false"
                                        aria-label="Next"
                                        style="width: 30px; height: 30px;background-color: rgba(255,255,255,1);">
                                    <div class="t-slds__arrow_body t-slds__arrow_body-right" style="width: 7px;">
                                        <svg role="presentation" focusable="false" style="display: block"
                                             viewBox="0 0 7.3 13" xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <polyline
                                                    fill="none"
                                                    stroke="#000000"
                                                    stroke-linejoin="butt"
                                                    stroke-linecap="butt"
                                                    stroke-width="1"
                                                    points="0.5,0.5 6.5,6.5 0.5,12.5"
                                            />
                                        </svg>
                                    </div>
                                </button>
                            </li>
                        </div>
                    </div>
                </div>
                <div class="t-slds__thumbsbullet-wrapper ">
                </div>
            </div>
            <style type="text/css">
                #rec .t-slds__bullet_active .t-slds__bullet_body {
                    background-color: #222 !important;
                }

                #rec .t-slds__bullet:hover .t-slds__bullet_body {
                    background-color: #222 !important;
                }

                #rec .t-slds__bullet_body:focus-visible {
                    background-color: #222 !important;
                }
            </style>
        </div>
        <div class="t754__col_left t-col t754__mobile-custom-gallery">
            <ul class="t754__mobile-custom-gallery-list">
            </ul>
        </div>
        <div class="t754__wrapper t754__col_right t-col t-col_6 t-align_left ">
            <div class="t754__title-wrapper">
                <div class="t754__title t-name t-name_xl js-product-name"></div>
            </div>
            <div class="t754__price-wrapper ">
                <p style="font-size: 16px; margin-bottom: 1rem;font-weight:normal" class="t754__price t754__price-item t-name t-name_xs">
                    </p>
                <div class="t754__price t754__price-item t-name t-name_xs" style="">
                    <div class="t754__price-currency">€</div>
                    <div class="t754__price-value js-product-price notranslate" translate="off"
                         field="li_price__">
                    </div>
                </div>
            </div>
            <div class="t754__descr t-descr t-descr_xxs">
                <div style="font-size: 20px;" data-customstyle="yes"> <br> </div>
            </div>
        </div>
    </div>
</div>
