{{> partials/head.html}}
<div id="allrecords" class="t-records" data-hook="blocks-collection-content-node" data-tilda-project-id="6178144" data-tilda-page-id="30893661" data-tilda-formskey="b1ca965895cd2c7bfe71572456178144" data-tilda-lazy="yes" data-tilda-root-zone="com">
{{> partials/header.html}}
{{> partials/about.html}}
{{> partials/gallery_oil.html}}
{{> partials/gallery_pastel.html}}
{{> partials/gallery_aquarell.html}}
{{> partials/aboutme.html}}
{{> partials/socialmedia.html}}
{{> partials/contact.html}}
</div>
{{> partials/footer.html}}

