<!--ABOUT ME START-->
<div id="rec519401272" class="r t-rec t-rec_pt_0 t-rec_pb_0" style="padding-top:0px;padding-bottom:0px; " data-record-type="363"><!-- T029 20 -->
    <div class="t029">
        <div class="t029__container t-container">
            <div class="t029__col t-col t-col_8">
                <div class="t029__linewrapper" style="opacity:0.2;">
                    <div class="t029__opacity t029__opacity_left" style="background-image: -moz-linear-gradient(right, #000000, rgba(0,0,0, 0)); background-image: -webkit-linear-gradient(right, #000000, rgba(0,0,0, 0)); background-image: -o-linear-gradient(right, #000000, rgba(0,0,0, 0)); background-image: -ms-linear-gradient(right, #000000, rgba(0,0,0, 0));"></div>
                    <div class="t029__line" style="background: #000000;"></div>
                    <div class="t029__opacity t029__opacity_right" style="background-image: -moz-linear-gradient(left, #000000, rgba(0,0,0, 0)); background-image: -webkit-linear-gradient(left, #000000, rgba(0,0,0, 0)); background-image: -o-linear-gradient(left, #000000, rgba(0,0,0, 0)); background-image: -ms-linear-gradient(left, #000000, rgba(0,0,0, 0));"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="rec522196169" class="r t-rec t-rec_pt_45 t-rec_pb_45" style="padding-top:45px;padding-bottom:45px; " data-record-type="500"><!-- t500 -->
    <div class="t500">
        <div class="t-section__container t-container">
            <div class="t-col t-col_12">
                <div class="t-section__topwrapper t-align_center">
                    <div class="t-section__title t-title t-title_xs" field="btitle">ABOUT ME</div>
                </div>
            </div>
        </div>
        <div class="t500__container t-container">
            <div class="t-cell t500__cell_25 t500__cell-left">
                <div class="t500__item t-item">
                    <div class="t500__textwrapper t-cell t-valign_top">
                        <div class="t-name t-name_lg" field="title" style=""><p style="text-align: center;">Hi! My name is Polina Shvedko.</p>
                            <p style="text-align: center;">I'm free artist. Welcome to my art website!</p></div>
                        <div class="t500__descr t-descr t-descr_xs" field="descr" style="">
                            <div style="font-size:18px;" data-customstyle="yes"><p style="text-align: center;">I love the sea! Water is my inspiration. Every day I am in search of new ideas, forms, new materials and techniques! When my paintings find a new home it makes me happy! Thank you for your support it give me more strength and motivation to do more !</p></div>
                        </div>
                    </div>
                </div>
                <div class="t-clear"></div>
            </div>
            <div class="t-cell t500__cell_25">
                <img class="t500__img t-img" style="max-height: 500px; width: auto" src="img/photo.jpg" data-original="img/photo.jpg" imgfield="img7">
            </div>
        </div>
    </div>
</div>
<!--ABOUT ME END-->
