<!--ABOUT START-->
<div id="rec500073019" class="r t-rec t-rec_pt_60 t-rec_pb_0" style="padding-top:60px;padding-bottom:0px; " data-record-type="490"><!-- t490 -->
    <div class="t490">
        <div class="t490__container t-card__container t-container">
            <div class="t-card__col t-card__col_withoutbtn t490__col t-col t-col_4 t-prefix_4 t-align_center t-item">
                <img class="t490__img t-img"
                     src="img/avatar.jpg"
                     data-original="img/avatar.jpg"
                     imgfield="li_img__1476968722790"
                     style="width:180px;"
                     alt=""></div>
        </div>
    </div>
    <script>t_onReady(function () {
        t_onFuncLoad('t490_init', function () {
            t490_init('500073019');
        });
    });</script>
</div>
<div id="rec500073020" class="r t-rec t-rec_pt_0 t-rec_pb_60"
     style="padding-top:0px;padding-bottom:60px; " data-record-type="484"><!-- t484 -->
    <div class="t484">
        <div class="t-container t-align_center">
            <div class="t-col t-col_10 t-prefix_1">
                <div class="t484__title t-title t-title_md t-margin_auto" field="title">
                    Artist from Germany
                </div>
                <div style="font-size:24px;" class="t500__descr t-descr t-descr_xs">I'm a German artist specializing in pastels, oils, and inks. With a formal art education and a lifelong passion for drawing, I continue to explore new ways of expressing emotion and storytelling through color and texture.</div>
            </div>
        </div>
    </div>
    <style> #rec500073020 .t484__uptitle {
        text-transform: uppercase;
    }

    #rec500073020 .t484__title {
        color: #080808;
        font-weight: 300;
    }</style>
</div>
<!--ABOUT END-->
