{{!
  "Artist from Germany" intro (home and about page): avatar, heading, text exactly as on the current site.
  Home adds the "More about me" link to /about/.
}}
<section class="intro" id="intro" aria-labelledby="intro-heading">
<div class="intro__inner">
{{#intro.avatar}}{{> picture}}{{/intro.avatar}}
<h2 class="intro__heading" id="intro-heading">{{t.intro_heading}}</h2>
<p class="intro__text">{{t.intro_text}}</p>
{{#intro.more_link}}
<div class="intro__actions"><a class="intro__more pill" href="{{nav.home}}about/">{{t.more_about}}</a></div>
{{/intro.more_link}}
</div>
</section>
