<!--SOCIAL MEDIA START-->
<div id="rec500073025" class="r t-rec t-rec_pt_60 t-rec_pb_60" style="padding-top:60px;padding-bottom:60px; " data-record-type="255"><!-- T225 -->
    <div class="t225">
        <div class="t-container t-align_center">
            <div class="t-col t-col_8 t-prefix_2">
                <div class="t225__title t-title t-title_md" field="title">Follow me on <a href="https://www.instagram.com/polina_shvedko/" target="_blank" rel="noreferrer noopener" style="color: rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); box-shadow: none; text-decoration: none;">instagram</a></div>
            </div>
        </div>
    </div>
    <style> #rec500073025 .t225__uptitle {
        text-transform: uppercase;
    }

    @media screen and (min-width: 900px) {
        #rec500073025 .t225__title {
            font-size: 42px;
        }
    }</style>
</div>
<div id="rec500073026" class="r t-rec t-rec_pt_0 t-rec_pb_60" style="padding-top:0px;padding-bottom:60px; " data-animationappear="on" data-record-type="680"><!-- t680 --><!-- @classes: t-descr t-descr_xxs -->
    <div class="t680">
        <div class="t680__container t-container ">
            <div class="t680__row t680__row_indent-20px t-row">
                <div class="t680__tile t680__tile_left t680__tile_big-img t680__top" itemscope itemtype="http://schema.org/ImageObject">
                    <div class="t680__bgimg t680__bgimg_lg t-bgimg js-socialmedia-img" data-slot="0"
                         style="background: #eee center center no-repeat;background-size: cover; cursor:pointer;"
                    ></div>
                </div>
                <div class="t680__tile t680__tile_right ">
                    <div class="t680__bgimg_wrapper t680__bgimg_wrapper_left" itemscope itemtype="http://schema.org/ImageObject">
                        <div class="t680__bgimg t680__bgimg_sm t-bgimg js-socialmedia-img" data-slot="1"
                             style="background: #eee center center no-repeat;background-size: cover; cursor:pointer;"
                        ></div>
                    </div>
                    <div class="t680__bgimg_wrapper t680__bgimg_wrapper_right" itemscope itemtype="http://schema.org/ImageObject">
                        <div class="t680__bgimg t680__bgimg_sm t-bgimg js-socialmedia-img" data-slot="2"
                             style="background: #eee center center no-repeat;background-size: cover; cursor:pointer;"
                        ></div>
                    </div>
                    <div class="t680__gap"></div>
                    <div class="t680__bgimg_wrapper t680__bgimg_wrapper_left" itemscope itemtype="http://schema.org/ImageObject">
                        <div class="t680__bgimg t680__bgimg_sm t-bgimg js-socialmedia-img" data-slot="3"
                             style="background: #eee center center no-repeat;background-size: cover; cursor:pointer;"
                        ></div>
                    </div>
                    <div class="t680__bgimg_wrapper t680__bgimg_wrapper_right" itemscope itemtype="http://schema.org/ImageObject">
                        <div class="t680__bgimg t680__bgimg_sm t-bgimg js-socialmedia-img" data-slot="4"
                             style="background: #eee center center no-repeat;background-size: cover; cursor:pointer;"
                        ></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        (function () {
            var images = [
                {{#socialmedia_images}}
                "{{{src}}}",
                {{/socialmedia_images}}
            ];

            // Fisher-Yates shuffle
            for (var i = images.length - 1; i > 0; i--) {
                var j = Math.floor(Math.random() * (i + 1));
                var tmp = images[i];
                images[i] = images[j];
                images[j] = tmp;
            }

            var slots = document.querySelectorAll('.js-socialmedia-img');
            for (var s = 0; s < slots.length && s < images.length; s++) {
                slots[s].style.background = "url('" + images[s] + "') center center no-repeat";
                slots[s].style.backgroundSize = "cover";
                slots[s].addEventListener('click', function () {
                    window.open('https://www.instagram.com/polina_shvedko/', '_blank');
                });
            }
        })();
    </script>
    <!--[if (IE 8)|(IE 9)]>
    <style>.t680__bgimg_lg {
        padding-bottom: 100%;
    }</style><![endif]--></div>
<!--SOCIAL MEDIA END-->
